{% extends "bootstrap_template.html" %}
{% block conteudo %}
    <form method="POST" class="mx-5">
        <label for="enunciado_pergunta" class="mt-4">Enunciado da Pergunta:</label>
        <input type="text" id="enunciado_pergunta" name="enunciado_pergunta" value="Insira o enunciado da pergunta..." class="form-control w-auto"><br>
        <label for="tipo_resposta">Tipo da resposta:</label>
        <select id="tipo_resposta" name="tipo_resposta" class="form-select w-auto">
            <option value="nota_1_5">Nota 1 - 5</option>
            <option value="select_tag">Selecionar Tags</option>
            <option value="texto_descritivo">Texto Descritivo</option>
            <option value="sim_nao">Sim/Não</option>
        </select><br>
        <label for="alvo_avaliacao">Alvo da Avaliação:</label>
        <select id="alvo_avaliacao" name="alvo_avaliacao" class="form-select w-auto">
            <option value="item_do_pedido">Item do pedido</option>
            <option value="estabelecimento">Estabelecimento</option>
            <option value="entregador">Entregador</option>
            <option value="aplicativo">Aplicativo</option>
        </select><br>
        <button type="submit" class="btn btn-primary mt-4">Cadastrar Pergunta</button>
    </form>
{% endblock %}