{% extends "bootstrap_template.html" %}
{% block conteudo %}
<div class="container text-center mt-4">
    <div class="row">
        Qual entidade deseja gerenciar?
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                CLIENTES
            </div>
            <div class="row">
                PEDIDOS
            </div>
            <div class="row">
                AVALIAÇÕES
            </div>
            <div class="row">
                RESPOSTAS
            </div>
        </div>
        <div class="col">
            <div class="row">
                ESTABELECIMENTOS
            </div>
            <div class="row">
                CATEGORIAS DE ESTABELECIMENTOS
            </div>
            <div class="row">
                PRODUTOS
            </div>
        </div>
        <div class="col">
            <div class="row">
                ENTREGADORES
            </div>
            <div class="row">
                QUESTÕES DE AVALIAÇÃO
            </div>
            <div class="row">
                CLASSES DE PRODUTOS
            </div>
        </div>
    </div>
</div>
{% endblock %}