{% extends "bootstrap_template.html" %}
{% import "form_render_respostas.html" as render_respostas %}

{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="col-4 mt-4 mx-auto">
            <h1>Pedido n.º {{pedido.id}}</h1>
            <p>Realizado no estabelecimento {{pedido.estabelecimento.nome}}</p>
            <p>Entregue por {{pedido.entregador.nome}}</p>
            <h3> Itens do pedido: </h3>
            <table class="table table-hover text-center">
                <tr>
                    <th>Item</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                </tr>
                {% for item in itens_pedido %}
                <tr>
                    <td>{{item.item.nome}}</td>
                    <td>{{item.quantidade}}</td>
                    <td>{{item.preco_unidade}}</td>
                </tr>
                {% endfor %}
            </table>
            <p>Valor total: R$ {{total}}</p>
        </div>


        <div class="col-8 mt-4 mx-auto">
            <h1 class="mx-auto align-content-center">Avaliação</h1>

            <form action="/pedidos/avaliar/{{ pedido.id }}" method="POST">

                {% if p_estabelecimento %}
                    {% set nome_est = "resposta_est_" + p_estabelecimento.id|string %}

                    {% if p_estabelecimento.tipo_resposta == "nota_1_5" %}
                        {{ render_respostas.nota_1_5(p_estabelecimento, nome_est) }}

                    {% elif p_estabelecimento.tipo_resposta == "sim_nao" %}
                        {{ render_respostas.sim_nao(p_estabelecimento, nome_est) }}

                    {% endif %}

                {% endif %}

                {% if p_entregador %}
                    {% set nome_ent = "resposta_ent_" + p_entregador.id|string %}

                    {% if p_entregador.tipo_resposta == "nota_1_5" %}
                        {{ render_respostas.nota_1_5(p_entregador, nome_ent) }}

                    {% elif p_entregador.tipo_resposta == "sim_nao" %}
                        {{ render_respostas.sim_nao(p_entregador, nome_ent) }}

                    {% endif %}

                {% endif %}

                {% for p_item in p_itens_pedido %}

                    {% set nome_item = "resposta_item_" + p_item["id_item_pedido"]|string + "_" +  p_item["pergunta"].id|string %}

                    <p>Sobre o item <b>{{ p_item["nome_item"] }}:</b></p>
                    {% if p_item["pergunta"].tipo_resposta == "nota_1_5" %}
                        {{ render_respostas.nota_1_5(p_item["pergunta"], nome_item) }}

                    {% elif p_item["pergunta"].tipo_resposta == "sim_nao" %}
                        {{ render_respostas.sim_nao(p_item["pergunta"], nome_item) }}

                    {% endif %}

                {% endfor %}

                {% if p_aplicativo %}

                    {% set nome_app = "resposta_app_" + p_aplicativo.id|string %}

                    {% if p_aplicativo.tipo_resposta == "nota_1_5" %}
                        {{ render_respostas.nota_1_5(p_aplicativo, nome_app) }}

                    {% elif p_aplicativo.tipo_resposta == "sim_nao" %}
                        {{ render_respostas.sim_nao(p_aplicativo, nome_app) }}

                    {% endif %}

                {% endif %}

                <button type="submit">Enviar Avaliação</button>
            </form>
        </div>
    </div>

</div>


{% endblock %}