{% extends "bootstrap_template.html" %}

{% block conteudo %}
    <div style="width: 500px;">
        <canvas id="meuGraficoProdutos"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('meuGraficoProdutos');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels_grafico_1 | tojson }}, 
                
                datasets: [{
                    label: 'Média de Avaliação',

                    data: {{ valores_grafico_1 | tojson }},
                    
                    borderWidth: 1,
                    backgroundColor: 'rgba(54, 255, 54, 0.5)' // Cor das barras
                }]
            },
            options: {
                indexAxis: 'y',
                elements: {
                    bar: {
                        borderWidth: 2,
                    }
                },
                scales: {
                    x: { beginAtZero: true, max: 5 },

                    y: {
                        ticks: {
                            font: {
                                weight: 'bold',
                                size: 14
                            },
                            color: '#333'
                        }
                    }

                }
            }
        });
    </script>
{% endblock %}